{% extends 'detectionApp/nav_bar.html' %}

{% load static %}

{% block params %}
    <link href="{% static 'detectionApp/css/main.css' %}" rel="stylesheet" type="text/css"/>
    <title>Главная</title>
{% endblock %}

{% block content %}
    <div class="container">
        <h1>Распознавание печени</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="upload-label">Выберите изображения для загрузки:</label>
            {{ form.as_p }}
            <button type="submit">Распознать</button>
        </form>
    </div>
{% endblock %}
