<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Распознавание печени</title>
    <link href="{% static 'detectionApp/css/main.css' %}" rel="stylesheet" type="text/css"/>
</head>
<body>
    <div class="container">
        <h1>Распознавание печени</h1>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <label class="upload-label">Выберите изображения для загрузки:</label>
            {{ form.as_p }}
        <button type="submit">Распознать</button>
    </form>
    </div>
</body>
</html>

